*
{
	background-color: #FFFFFF;
}



.logo
{
	position: absolute;
	height: 3.5em;
	margin: 1% auto auto 5%;

	background-color: transparent;

	transition: transform 0.2s;
}

.logo:hover
{
	transform: scale(1.1);
}



/* LEFT PART */


.picBottom
{
	height: 35em;

	position: absolute;
	z-index: 2;

	bottom: 0;
	left: 0;

	background-color: transparent;
}




/* RIGHT PART */


.rectangle
{
	width: 50%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	right: 0%;

	background-color: #DCEDE6;
}


.title
{
	margin: 20% auto 0% auto;

	font-family: 'Mulish';
	font-size: 2.3em;
	color: #373f41;

	background-color: transparent;
}



.form
{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 0;

	width: 40%;
	height: 20%;

	margin: 10% auto 0% auto;

	background-color: transparent;
}



.inputID, .inputPassword
{
	width: 100%;
	height: 100%;

	font-family: 'Mulish';
	font-size: 1em;

	border-style: hidden;
	box-sizing: border-box;
	border-radius: 0.3em;
}



.inputPassword
{
	margin: 15% auto 0% auto;
}

.inputID::placeholder, .inputPassword::placeholder
{
	padding-left: 10%;
}

input:focus
{
	padding-left: 4%;
}

input:not(:placeholder-shown)
{
	padding-left: 4%;
}


.boutonConnexion
{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 7%;
	width: 22%;


	text-decoration: none;
    font-family: 'Mulish';
   	font-size: 1.1em;
   	font-style: italic;


	border:none;
	border-radius: 0.5em;

	background-color: #73BA9B;
    color: white;
	filter: drop-shadow(0px 4px 4px rgba(50, 50, 71, 0.08)) drop-shadow(0px 4px 8px rgba(50, 50, 71, 0.06));

    cursor: pointer;

    transition: transform 0.2s;

	margin: 10% auto auto auto;
}

.boutonConnexion:hover {
	transform: scale(1.1);
}
.boutonConnexion:active {
	transform: scale(1.0);
}